<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>root</title>
	</head>
	<body>
		<h1>管理员页面</h1>
		<!-- 
		表单
		 http://ip:port/views/root/addMovie
		 http://ip:ports/addMovie
		 -->
		<form action="http://10.19.248.186:81/addMovie" method="get">
			<ul>
				<li>name<input type="text" name="name" id="name" value="" /></li>
				<li>daoyan<input type="text" name="daoyan" id="daoyan" value="" /></li>
				<li>yanyuan<input type="text" name="yanyuan" id="yanyuan" value="" /></li>
				<li>rank<input type="text" name="rank" id="rank" value="" /></li>
				<li>label<input type="text" name="label" id="label" value="" /></li>
				<li>img<input type="text" name="img" id="img" value="" /></li>
				<li>description<input type="text" name="description" id="description" value="" /></li>
				<li>count<input type="text" name="count" id="count" value="" /></li>
			</ul>
			<input type="submit" value="提交" />
		</form>


	</body>
</html>
